@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black dark:text-white bg-white dark:bg-[#212121]; /* Set default text and background colors */
}

/* @layer base {
  html {
    @apply scroll-smooth;
  }
} */

:root {
  --primary: white;
  --secondary: #212121;
}

/* Firefox Scroll Customize */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge. Safari Scroll Customize */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  /* border-radius: 5px; */
  @apply dark:bg-[#212121];
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  @apply dark:bg-black;
}
